body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerNav li {
    list-style: none;
    margin: 0 10px;
}
 
a {
    color: black;
    text-decoration: none;
}

.indexImg {
    height: 500px;;
}

li {
    display: flex;
    justify-content: center;
}